//댓글선택에 오류가 없으면
<% if @comment.errors.empty? %>
  $("#comment_<%= @comment.id %> > .comment-info .edit-comment-link").removeAttr("href");
  $("#comment_<%= @comment.id %> > .comment-info").after("<%= j render('comments/form', comment: @comment) %>");
<% else  %>
  $("#comments-widget-of-commentable-<%= @commentable.id %> .comments-header").after("<div class='alert alert-warning alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button><%= @comment.errors.full_messages.join('') %></div>").next().delay(1500).slideUp('fast');
<% end  %>
